*.class
*.lst
**/models/**
**/data/**
**/.idea/**
*.tar.gz
**/log.txt
**/dataset/sources/**
**/dataset/train/**
**/dataset/val/**
**/dataset/test/**
**dataset/dataset.tar**
**__pycahche__/**